.clickable-image {
    cursor: pointer;
}
.detail-header {
    display: inline-block;
}
.detail-content {
    display: inline-block;
}
.project-image {
    margin-right: 10px;
    margin-bottom: 10px;
}
h1 {
    color: #000099;
}
th {
    color: #000099;
}
b {
    color: #000099;
}