<img class="clickable-image" src="assets/icons/Header_Details_01.jpg" (click)="goBack()">
<div class="detail-header">
    <h1>{{project.header}}</h1>
</div>
<div class="detail-content">
    <img class="float-left project-image" src="assets/images/{{project.image}}" width="400px" height="400px">
    <div>{{project.description}} <br /><b>Created by:</b> {{project.create_by}} <br/> <b>Project link:</b> <a href="{{project.link}}" target="_blank">{{project.link}}</a></div>
</div>

<div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Beschrijving</th>
                <th>Verwacht</th>
                <th>Aantal investeerders</th>
                <th>Prijs</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reward of project.rewards">
                    <td><img src="assets/icons/Rabo_Reward_01.png"></td>
                    <td>{{reward.description}}</td>
                    <td>{{reward.estimated}}</td>
                    <td>{{reward.number_of_inversters}}</td>
                    <td>{{reward.pledge}}</td>
                    <td><img class="clickable-image" src="assets/icons/Rabo_Pay_01.png" (click)="openPayment()"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>