.td-image {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.td-title {
    font-size: 16px;
    font-weight: bolder;
    color: #000099;
}

.td-description {
    font-size: 14px;
    width: 700px;
}

.td-remaining {
    font-size: 14px;
}

.td-goal {
    font-size: 14px;
}

.td-rating {
    font-size: 14px;
    width: 50px;
}

.td-detail {
    width: 50px;
}

.tr-filter {
    width: 100%;
}

.div-rating {
    position: relative;
    text-align: center;
    top: -35px;
}

.filters {
    margin-bottom: 0 !important;
}

.searchtext {
    width: 250px !important;
}

.clickable-image {
    cursor: pointer;
}
