<img src="assets/icons/Header_Main_01.jpg">
<table class="table filters">
  <tbody>
  <tr class="tr-filter">
    <td colspan="2">
      <input type="text" class="form-control searchtext float-right" placeholder="search" [(ngModel)]="searchText">
    </td>
  </tr>
  </tbody>
</table>
<table class="table table-striped">
  <tbody>
  <tr class="tr-filter" *ngFor="let project of projects | projectfilter:searchText">
    <td class="td-image">
      <img src="assets/images/{{project.icon}}" height="75" width="75">
    </td>
    <td>
      <div class="td-title">
        {{project.title}}
      </div>
      <div class="td-description">
        {{project.description}}
      </div>
    </td>
    <td>
      <div class="td-remaining">
        {{project.timeRemaining}} days remaining
      </div>
      <div class="td-goal">
        {{project.fundingPercentage}}% funded
      </div>
    </td>
    <td class="td-rating">
      <div>
        <img class="float-right" src="assets/icons/Rabo_Approve_01.png" width="50px" height="50px">
        <div class="div-rating">{{project.rating}}</div>
      </div>
    </td>
    <td class="td-detail">
      <img class="float-right clickable-image" src="assets/icons/Btn_Detail_01.png" (click)="openDetail(project.id)">
    </td>
  </tr>
  </tbody>
</table>